menu "Modules"
config MODULES
	bool
	default y

config MODULES_DEBUG
        bool "Enable MODULUES DEBUG Features"
        default y
	help
	 Select y to enable debug symbols in modules,
	 say n to strip debug symbols

config ENCODER
        tristate "Enable Example Encoder Library"
        default n

config ECHO_CANCELLATION
        tristate "Enable ECHO Cancellation Library"
        default n

config EXAMPLE_GAIN
        tristate "Enable EXAMPLE_GAIN Library"
        default n

config CHMIXER
        tristate "Enable CHMIXER Library"
        default y

config MSIIR
        tristate "Enable MSIIR Library"
        default y

config GAIN
        tristate "Enable GAIN Library"
        default n

config SOFT_VOL
        tristate "Enable SOFT_VOL Library"
        default n

config FIR_FILTER
        tristate "Enable FIR_FILTER Library"
        default n

config POPLESS_EQUALIZER
        tristate "Enable POPLESS_EQUALIZER Library"
        default n

config SAL
        tristate "Enable SAL library"
        default n

endmenu
